<div class="mt-4">
    <h3>INPUT Product</h3>
    <form method="POST" action="/products/input">
        <div class="form-group">
            <label for="name">Name Product</label>
            <input type="type" class="form-control" id="name" name="name" >
         </div>   
        <div class="form-group">
            <label for="name">Discription</label>
            <input type="type" class="form-control" id="discription" name="discription" >
         </div>
        <div class="form-group">
            <label for="name">Trademark</label>
            <input type="type" class="form-control" id="trademark" name="trademark" >
         </div>
        <div class="form-group">
            <label for="name">Img</label>
            <input type="type" class="form-control" id="img" name="img" >
         </div>
         <div class="form-group">
            <label for="name">Price</label>
            <input type="type" class="form-control" id="price" name="price" >
         </div>
         <div class="form-group">
            <label for="name">Group</label>
            <input type="type" class="form-control" id="group" name="group" >
         </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>